@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: px;
  font-family: "Roboto";
}
body {
  background-image: url("../images/bg1.jpg");
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.login-container {
  width: 350px;
  height: 230px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 10px 21px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 10px 21px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 10px 21px -5px rgba(0, 0, 0, 0.75);
  background-color: rgba(100, 100, 255, 0.4);
}
.register-container
{
  width: 350px;
  height: auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 10px 21px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 10px 21px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 10px 21px -5px rgba(0, 0, 0, 0.75);
  background-color: rgba(100, 100, 255, 0.4);
}
.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
label {
  color: white;
}
input {
  padding: 5px;
}
.button-group {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
  gap: 20px;
}
.btn {
  width: 80px;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 5px 10px 21px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 10px 21px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 10px 21px -5px rgba(0, 0, 0, 0.75);
  
}
.register-button {
    background-color: black;
    color:aqua;
    text-decoration: none;
    text-align: center;

}
.login-button {
    background-color: black;
    color:orangered;
    cursor: pointer;
    text-align: center;
}
.radio-align{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: px;
  font-family: "Roboto";
}